.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.schoolForm {
	border: 2px solid orange;
	width: 50%;
	margin-left: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	
}

.inputBox {
	border: 2px black solid;
	margin: 5px;
}

.addButton {
	background-color: orange;
	padding: 10px 5px;
	
}

.buttonSubmut {
	margin-left: 50px;
}

.formName {
	margin-top: 20px;
	margin-left: 5px;
}