.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.schoolForm {
	border: 2px solid orange;
	
}

.inputBox {
	border: 2px black solid;
	margin: 5px;
}

.addButton {
	background-color: orange;
	padding: 10px 5px;
}